@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --fontFamily: 'Roboto', sans-serif;
    --theme: wheat;
    --accent: #ea4b12;
    --border: #17140f;
    --background: #f5f5f5;
    --borderThin: rgba(0, 0, 0, 0.25);
    --secondBackground: #f2f2f2;
    --positive: #7bf849;
    --negative: #ff4d4d;
    --red: #ea1212;
    --warning: #d2a107;
    --footer: #242424;
    --score: 0;
    --boxShadow: 0px 0px 6px 0px black;
    --textColor: black;
    --borderRadius: 10px;
    --diceShadow: inset 0 3px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
        inset -5px 0 #d7d7d7;
    --diceBackground: #e7e7e7;
    --dotBackground: #333;
    --dotShadow: inset 0 3px #111, inset 0 -3px #555;
}

body.darkmode {
    --background: #222222;
    --textColor: #f5f5f5
}

body {
    font-family: var(--fontFamily, "Arial");
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: var(--background, #f5f5f5);
    background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
    background-repeat: repeat;
    background-size: 120px;
    color: var(--textColor, black);
}



::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(51, 51, 51, 0.212);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: 5px solid grey;
    border-radius: 999px;
}

a {
    color: var(--textColor, black);
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.5;
}

h3,
h2,
h1 {
    text-align: center;
}

h1 {
    margin: 0 auto 0 20px;
    font-size: 18px;
    line-height: 60px;
}

table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #b7b7b7;
    border-spacing: 0;
    border-radius: var(--borderRadius);
    overflow: hidden;
}

tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 20%);
}

table d6 {
    margin: 0px auto !important;
    transform: scale(0.5);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ninja {
    display: none !important;
}

.negative {
    color: var(--negative) !important;
}

.positive {
    color: var(--positive) !important;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: var(--borderRadius);
}

label span {
    min-width: 100px;
}

input[type="button"] {
    appearance: none;
    width: 100%;
    padding: 5px;
    border: 1px solid;
    text-transform: none;
}

input[type="button"]:hover {
    transform: none;
}

.subheader {
    text-align: center;
    margin-bottom: 20px;
}

button {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    user-select: none;
    margin: 0;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    border: 2px solid #fffbfb;
    border-radius: var(--borderRadius, 10px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: inset 0px 0px 4px 0px #a4a4a4;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btn:hover,
.btn:focus {
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(243, 47, 8));
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
    box-shadow: inset 0px 0px 4px 0px #6d6d6d;
    text-shadow: 0px 0px 2px black;
}

.btn:hover::before,
.btn:focus::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.btn:active {
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(243, 47, 8));
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
    box-shadow: inset 0px 0px 4px 0px black;
}

.btn:active::before {
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

.btn.disabled,
.btn.disabled::before {
    background: grey;
}

#specialRoll:not(.ninja)+#roll {
    display: none;
}

#top,
#bot {
    background: var(--footer);
    min-height: 60px
}

.navigation,
#mid {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: left;
    --textColor: white;
    color: var(--textColor);
    padding-right: 10px;
}

.navigation a {
    margin: 20px 10px;
}

@property --score {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.score,
.achievements {
    font-size: 15px;
    transition: --score 0.6s;
    transition-timing-function: ease-in;
    will-change: contents;
    counter-set: score var(--score);
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    width: fit-content;
    padding: 10px 15px;
    border-radius: var(--borderRadius);
    color: white;
    border: 2px solid #fffbfb;
    box-shadow: inset 0px 0px 4px 0px #a4a4a4;
    width: 25px;
    margin: 2.5px 10px;
    text-align: center;
    user-select: none;
}

.score:after {
    content: counter(score);
}

#stats .score {
    width: 100%;
}

.achievements:after {
    content: attr(title);
    display: block;
    color: #cbcbcb;
    width: 100%;
    font-weight: normal;
    text-transform: none;
}

.achievements {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
    flex-wrap: wrap;
    margin: 1px;
    font-weight: bold;
    flex-grow: 1;
}

.locked {
    background: grey;
    border-color: grey;

}

.filterGray,
.locked {
    filter: contrast(0.6);
}

.yai {
    position: absolute;
    top: 75px;
    width: 175px;
    padding: 10px 20px;
    box-shadow: var(--boxShadow);
    animation: fade 0.5s ease-in-out 2.5s 1 forwards;
}


#mid {
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.refBar,
.refBar>* {
    flex-grow: 1;
    align-items: center;
    justify-content: start;

}

#interaction {
    justify-content: end;
    display: flex;
    margin-right: 10px;
    margin-top: -10px;
}

#aiName,
#gTurn {
    margin: 0px 10px 0px auto;
    width: 100%;
    max-width: 80px;
    padding: 2px 0px;
    font-size: 12px;
}

#lastEnemyRoll,
#lastRoll {
    transition-duration: 0.3s;
    animation-iteration-count: 1;
}

.animateDice {
    animation: rollDice 0.2s forwards;
}

.animateDiceScale {
    animation: placeDice 0.2s forwards;
}

#sidebar {
    min-width: 200px;
    width: 100%;
    margin: 50px 0;
}

#sidebarContent {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff61;
    padding: 20px;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
}

#rules p {
    margin: 10px 10px;
}

#rules p:before {
    content: "- ";
    margin-left: -10px;
    width: 10px;
}

#gameWrapper {
    position: relative;
    height: 100%;
    margin: 5px 0;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    max-width: 500px;
}

#gameboard {
    min-height: 350px;
    border-radius: var(--borderRadius, 4px);
}

.grid {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.spot {
    width: 50px;
    height: 50px;
    background-color: #605e587a;
    margin: 5px 10px;
    box-shadow: inset 0px 0px 20px 0px #50505069;
    border-radius: var(--borderRadius, 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.canClick .spot {
    cursor: pointer;
}

.spot.sequence {
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    padding: 0;
    transform: scale(1.1) rotate(45deg);
    transition-duration: 1s;
}

.boom d1,
.boom d2,
.boom d3,
.boom d4,
.boom d5,
.boom d6 {
    animation: killDice 0.3s ease-in-out 0.05s 1 forwards;
}

d1,
d2,
d3,
d4,
d5,
d6 {
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";

    flex: 0 0 auto;
    margin: 16px;
    padding: 10px;
    width: 104px;
    height: 104px;
    background: var(--diceBackground);
    box-shadow: var(--diceShadow);
    border-radius: 10%;
    position: relative;
}

dot {
    display: block;
    align-self: center;
    justify-self: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--dotBackground);
    box-shadow: var(--dotShadow);
}

dot:nth-child(2) {
    grid-area: b;
}

dot:nth-child(3) {
    grid-area: c;
}

dot:nth-child(4) {
    grid-area: d;
}

dot:nth-child(5) {
    grid-area: e;
}

dot:nth-child(6) {
    grid-area: f;
}

dot:nth-child(odd):last-child {
    grid-area: g;
}

.quaterDice d1,
.quaterDice d2,
.quaterDice d3,
.quaterDice d4,
.quaterDice d5,
.quaterDice d6 {
    padding: 5px;
    width: 26px;
    height: 26px;
    margin: 0;
}

.quaterDice dot {
    width: 6px;
    height: 6px;
}

#skins {
    justify-content: space-evenly;
}

#skins>div {
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    cursor: pointer;
    margin: 10px;
}

.selected {
    border: 2px solid white;
    padding: 10px;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
}

#skins .locked d6 {
    opacity: 0.2;
    cursor: default;
}

.bit {
    --diceShadow: none;
    --diceBackground: none;
    --dotBackground: none;
    --dotShadow: none;
}

.bit d1:before,
.bit d2:before,
.bit d3:before,
.bit d4:before,
.bit d5:before,
.bit d6:before {
    content: "6";
    color: #20C20E;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    font-size: 26px;
    position: absolute;
    line-height: 1.5;
    text-align: center;
    width: 36px;
    height: 36px;
}

.bit d1:before {
    content: "1";
}

.bit d2:before {
    content: "2";
}

.bit d3:before {
    content: "3";
}

.bit d4:before {
    content: "4";
}

.bit d5:before {
    content: "5";
}

.black {
    --diceShadow: inset 0 3px #5b5b5b, inset 0 -5px #202020, inset 5px 0 #2d2c2c, inset -5px 0 #2d2c2c;
    --diceBackground: #333;
    --dotBackground: #e7e7e7;
    --dotShadow: inset 0 3px #fff, inset 0 -3px #cfcfcf;
}

.red {
    --diceShadow: inset 0 3px #ff3e3e, inset 0 -5px #c50000, inset 5px 0 #dd0000, inset -5px 0 #dd0000;
    --diceBackground: #ef0000;
    --dotBackground: #e7e7e7;
    --dotShadow: inset 0 3px #fff, inset 0 -3px #cfcfcf;
}

.green {
    --diceShadow: inset 0 3px #2f9d52, inset 0 -5px #096326, inset 5px 0 #1a9542, inset -5px 0 #1a9542;
    --diceBackground: linear-gradient(117deg, rgb(7 189 71), rgb(0 86 19));
    --dotBackground: #e7e7e7;
    --dotShadow: inset 0 2px #cd7500, inset 0 -3px #fbff0d;
}

.diamond {
    --diceShadow: inset 0 3px #cfe9ff, inset 0 -5px #599fdb, inset 5px 0 #8fc0ed, inset -5px 0 #88b2d6;
    --diceBackground: linear-gradient(117deg, rgb(0 163 219), rgb(255 255 255));
    --dotBackground: #c2c2c2;
    --dotShadow: inset 0 2px #4b4b4b, inset 0 -3px #c4ced6;
}

.joker {
    filter: invert(1) sepia(1);
}

#popups {
    position: absolute;
    top: 257.5px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#popups>div {
    background-color: #ffffff61;
    padding: 6px 10px;
    box-shadow: 0px 0px 2px 0px black;
    border-radius: var(--borderRadius);
    font-size: 16px;
    cursor: pointer;
}

.placeDice .spot:before {
    content: "Place Dice";
    font-size: 10px;
    width: 36px;
    position: absolute;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 4px black;
    animation: placeDice 0.2s forwards;
}
.clickRoll:after {
    content: "Click here to roll dice ▼";
    position: absolute;
    top: -20px;
    font-size: 12px;
    width: 175px;
    left: -115px;
    text-shadow: 0 0 4px black;
    animation: placeDice 0.2s forwards
}

@keyframes rollDice {
    from {
        transform: scale(1) rotate(0);
    }

    to {
        transform: scale(1.2) rotate(720deg);
    }
}

@keyframes placeDice {
    from {
        transform: scale(1.4);
    }

    to {
        transform: scale(1);
    }
}

@keyframes killDice {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width:620px) {}